.contact-content {
    
    background-color: rgb(214, 197, 231);
    margin-top: 12px;
    border-radius: 12px;
    padding: 9px; 
    height:100vh ;
    position: relative;
    overflow: hidden;
}
.contact-content::after{
    content: "";
    background-image: url("../img/home.jpg");
    position: absolute;
    width: 100%;
    height: inherit;
    opacity: 0.15;
    top: 0;
    border-radius: 12px;
    z-index: -1;

}
.content-form{
    

}
